
<div class="row">
  <center>
    <div class="col-md-6">
      <h1 class="red_font">Let's eat!</h1>

      <!-- Dynamically Insert Burgers Here -->

      {{#each burgers}} 
        {{#unless devoured}}
       <br>   {{> burgers/burger-block devour=true}}
        {{/unless}}
      {{/each}}


    </div>

    <!-- Right side (already eaten) -->
    <div class="col-md-6">
      <h1 class="red_font">Already eaten!</h1>
      <div id="already_eaten">

       <!-- Dynamically Insert Eaten Burgers Here -->

      {{#each burgers}} 
        {{#if devoured}}
          <br>  {{> burgers/burger-block devour=false}}
        {{/if}} 
      {{/each}}

      </div>
    </div>
  </center>
</div>

<h2>Add a Burger!</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burgerInput">Burger Name:</label>
    <input type="text" id="burgerInput" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form>

